.hero_input {
    width: 70%;
    height: 48px;
    background: #F4F2FF;
    padding: 16px;
}
.hero_input:focus-visible {
    outline: none !important;;
  }
.subs_btn {
    width: 30%;
    height: 48px;
    background: #503AE7;
    color: #F4F2FF;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}